<div class="row">
  <div class="col-md-12">
    <form [formGroup]="employeeForm" (ngSubmit)="addEmployee()">
      <div class="mb-3">
        <label for="">name</label>
        <input type="text" class="form-control" formControlName="EmpName" />
      </div>
      <div class="mb-3">
        <label for="">experience</label>
        <input
          type="text"
          class="form-control"
          formControlName="EmpExperience"
        />
      </div>
      <div class="mb-3">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!employeeForm.valid"
        >
          Add Employee
        </button>
      </div>
    </form>
  </div>
</div>
