<div class="row">
  <div class="col-md-12">
    <form [formGroup]="updateForm" (ngSubmit)="updateEmployee()">
      <div class="mb-3">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          id="EName"
          formControlName="EmpName"
        />
      </div>
      <div class="mb-3">
        <label for="experience">Experience</label>
        <input
          type="text"
          name="experience"
          id="EExperience"
          formControlName="EmpExperience"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!updateForm.valid"
        >
          Update Employee
        </button>
      </div>
    </form>
  </div>
</div>
